.wrapper__input {
    --border-radius: 3px;
    --border: 3px;
    --clear-width: 35px;
}

.wrapper__input {
    position: relative;
    display: inline-flex;
}

.input {
    min-width: 300px;
    padding: 10px 15px;
    padding-right: calc(var(--clear-width) + 15px);
    border: var(--border) solid var(--color-light-gray);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-main);
    outline: none;
}   

.input:focus {
    border: var(--border) solid var(--color-blue);
}

.clear {
    position: absolute;
    height: calc(100% - var(--border)*2);
    width: var(--clear-width);
    right: 3px;
    top: var(--border);
    padding: 10px;
    object-fit: contain;
    object-position: center center;
    transition: .5s;
    opacity: .4;
    cursor: pointer;
}

.clear__disable {
    opacity: .2 !important;
}
